<a href="https://colab.research.google.com/github/sarincr/Free-Training-program-on-Artificial-Intelligence/blob/master/04_Conditional_Statements_and_functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=100

In [ ]:
y=200

In [ ]:
x>y

False

In [ ]:
x<y

True

In [ ]:
P=12000

In [ ]:
if P>10000 :
  discount=P*(10/100)
  print(discount)

1200.0

In [ ]:
P=6000

In [ ]:
discount = 0
if P>10000 :
  discount=P*(10/100)
print(discount)

0

In [ ]:
P=input("Enter the amount : ")

Enter the amount : 6000

In [ ]:
P

'6000'

In [ ]:
P=input("Enter the amount : ")
discount = 0
if P>10000 :
  discount=P*(10/100)
print(discount)

Enter the amount : 6000

TypeError: ignored

In [ ]:
P=input("Enter the amount : ")

Enter the amount : 6000

In [ ]:
type(P)

str

In [ ]:
int(P)

6000

In [ ]:
type(int(P))

int

In [ ]:
P=int(input("Enter the amount : "))
discount = 0
if P>10000 :
  discount=P*(10/100)
print(discount)

Enter the amount : 12000
1200.0

In [ ]:
discount=0
P=int(input("Enter the amount :"))
if P<1000 :
  print("No discount available")
if 1000<P<10000 :
  discount= P*(10/100)
  print("Discount =" , discount)
if P>10000 :
  discount= P*(15/100)
  print("Discount =",discount)

Enter the amount :200
No discount available

In [ ]:
discount=0
P=int(input("Enter the amount :"))
if P<1000 :
  print("No discount available")
if 1000<P<10000 :
  discount= P*(10/100)
  print("Discount =" , discount)
else :
  discount= P*(15/100)
  print("Discount =",discount)

Enter the amount :5000
Discount = 500.0

In [ ]:
x=0

In [ ]:
while x<25 :
  print(x)
  x +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
x=0
answer=0
while x<=100 :
  answer=answer+x
  x +=1
  print(answer)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [ ]:
x=0
while x<10 :
  print("India is my country")
  x +=1

India is my country
India is my country
India is my country
India is my country
India is my country
India is my country
India is my country
India is my country
India is my country
India is my country

In [ ]:
x=["Venad Express", "Parasuram Express", "Shornur Passenger", "Chennai Mail", "Hyderabad Express" ]

In [ ]:
for k in x :
  print(k)

Venad Express
Parasuram Express
Shornur Passenger
Chennai Mail
Hyderabad Express

In [ ]:
for x in "India is my country" :
  print(x)

I
n
d
i
a

i
s

m
y

c
o
u
n
t
r
y

In [ ]:
for x in range(10) :
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(0,100,5) :
  print(x)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
def total(P) :
  discount=0
  if P<1000 :
    print("No discount available")
  if 1000<P<10000 :
    discount= P*(10/100)
    print("Discount =" , discount)
  else :
    discount= P*(15/100)
    print("Discount =",discount)

In [ ]:
P=int(input("Enter the amount :"))

Enter the amount :12000

In [ ]:
total(P)

Discount = 1800.0

In [ ]:
P=int(input("Enter the amount :"))
total(P)

Enter the amount :12000
Discount = 1800.0

In [ ]:
def some_var():
  print("India is my country")

In [ ]:
some_var()

India is my country